

.footer {
  height:  70vh;
  width: 100%;
  background: rgba(255,255,255,.5);
  margin: 10px 0 10px auto;
  display: flex ;
  flex-wrap: wrap;
  overflow: scroll;
  position: absolute;
    top: 29%;
}

.card-title {
  background-color: #e6f0f0;
  width:100%;
  height: 20%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
    top: 0;
  
}

.coats-card {
  display: flex;
  width: 510px;
  height: 150px;
  margin: 5px;
  background-color: #ffffff;

}

.image-card {
  width: 150px;
  height: 100%;
}

.card-info {
  margin: 8px 0 2px 7px;
  font-size: 15px;
}

