.show-body-main {
  width: 1040px;
  margin: 0 auto;
}

.show-body {
  /* background-color: #e6f0f0; */
}

.show-header {
  background-color: #e6f0f0;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
    top: 0;
}

.show-hesder-title {
 font-size: 20px;
 width: 20%;
 padding: 0 10px;
 color: yellow;
 background-color: #e6f0f0;
 transform: skewY(352deg);
 position: absolute; top: 12px; left: 50px;
}

.show-header-contents {
  font-size: 30px;
  margin-left: 20%;
}

.show-header-list {
  margin-left: 100px;
}
/* 下記はmain部分 */
.show-main {
  height: 80vh;
  background-color: #e6f0f0;
  margin: 10px;
  display: flex;
}
.main-left {
  width: 50%;
  margin: 5px;
  background-color: white;
}
.show-image {
height: 65%;
}
.show-image-tag {
 height: 100%;
 width: 100%;
}


.show-coment {
padding-top: 5px;   
height: 35%
}

.comment-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.messages-text {
  border-style: outset;
  width: 83%;
}

.message-coat {
  padding: 5px 15px;
  height: 75%;
  overflow: scroll;
}

/* 下記はmain-rightの部分 */
.main-right {
  width: 50%;
  margin: 5px;
  background-color: white;
}

.main-right-top {
  height: 60%;
  display: flex;
}

.show-list {
  padding: 5px;
  width: 80%;
}
.show-list-top {
  font-size: 22px;
  display: flex;
  margin: 5% 0 2% 2%;
  align-items: center;
}

.show-list-sav {
  font-size: 18px;
   margin: 6% 0 2% 2%;
}

.show-sideber {
  width: 22%;
  
}

.side-map {
  background-color: #e1eec1;
  height: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-list {
  background-color: #e1eec1;
  height: 50px;
  margin-top: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-info {
  border-style: double;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 20px;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.info-content {
  font-size: 14px;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

.sideber-js {
  background-color: #e1eec1;
}

.side-list-js {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
/* map */
.map-main {
 position: relative;
}

.coat-map {
  display: flex;
  background-color: #e1eec1;
  
  width: 918px;
  height: 515px;
  position: absolute;
  top: -532px;  left: 0px;
}
/* showのfooter部分 */
.show-footer {
  display: flex;
  flex-wrap: wrap;
}
}