<div class='main-home'>
  <div id="home" class="top-img">
    <%= render "shared/header" %>
    <div class='main'> 
      <div class='title-contents'>
      <h2 class='sav-title'>
        オススメのテニスコートを
        　　　<p>共有しませんか？</p>
      </h2>
      </div>    
    </div>
  </div>  
  <div class="footer hidden" id="footer-main" >
  <div class="card-title" id="footer-card-title">
        🎾コート一覧表示
  </div>
  <%= render partial: 'coat', collection: @coats %> 


  
</div>