<div class="show-body">
  <div class="show-header">
    <div class="show-hesder-title">
      <h1>Tennishare</h1>
    </div>
    <div class="show-header-contents">
       <%= "ðŸ‘¤ #{@coat.user.nickname} ã•ã‚“ã®ãƒšãƒ¼ã‚¸" %>
    </div>
    <ul class="show-header-list">
      <li><%= "ãƒ†ãƒ‹ã‚¹æ­´ #{@coat.user.tennis_year} å¹´" %></li>
      <li>æŠ•ç¨¿ä»¶æ•°ã€œä»¶</li>
    </ul>
  </div>
  <%= render "coats/show" %>
  
</div>
